<link rel="stylesheet" href="/CSS/user_signUp.css">

<div class="main">
    <h1>SignUp</h1>

    <p>Already a signIn user? <a href="/user/signin">Login</a></p>
    <hr>

    <form action="/user/create" method="post">

        <div>

            <input type="text" name="name" id="name" placeholder="Enter name" required>

            <input type="text" name="age" id="age" placeholder="Enter your age" required>

        </div>

        <div>

            <input type="text" name="username" id="username" placeholder="Enter username">

            <input type="password" name="password" id="password" placeholder="Enter password">

        </div>

        

        

        <input type="submit" value="signUp">
    </form>
    <hr>
</div>